#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-header {
    position: relative;
    font-size: 98px;
    margin: 150px 0;
    width: 15.3ch;
    overflow: hidden;
    animation: moving 3s steps(22), blink .4s step-end infinite alternate;
    white-space: nowrap;
    border-right: 3px solid;
}

@keyframes moving {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#section-container {
    margin: 200px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 100px;
    justify-content: space-around;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        left: -300px
    }

    to {
        left: 0;
        opacity: 100%;
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        right: -300px
    }

    to {
        opacity: 100%;
        right: 0
    }
}

.bod {
    overflow-x: hidden
}

.ls {
    animation: slideLeft .75s ease-out;
}

.rs {
    animation: slideRight .75s ease-out;

}

.diss {
    opacity: 0%;
}

.abt-section {
    height: 30vw;
    width: 30vw;
    background: #F9D4BB;
    margin: 100px;
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    font-size: 2vw;
    text-align: left;
    box-shadow: 15px 15px rgb(127, 123, 130)
}

.abt-section p {
    padding: 5px;
}


.what-block {
    grid-row: 1;
}

.why-block {
    text-align: right;
    grid-row: 2;
    grid-column: 3;
    box-shadow: -15px 15px rgb(127, 123, 130)
}

.who-block {
    grid-row: 3;
}

@media screen and (max-width:1100px) {
    #about-header {
        font-size: 10vw;
        margin: 50px
    }

    #section-container {
        grid-template-columns: 1 auto;
        justify-content: center;
        align-items: center;
        gap: 0
    }

    .abt-section {
        height: 400px;
        width: 400px;
        font-size: 24px;
    }

    .why-block {
        grid-column: 1;
    }

    .what-block {
        grid-column: 1;
    }

    .who-block {
        grid-column: 1;
    }
}