form {
    margin-top: 100px;
}

.selector-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.selector-box input,
.selector-box select {
    font-size: 30px;
    border: none;
    background: #c6e2be;
    margin: 5px 15px;
    transition: background .25s linear;
    border-radius: 5px;
    display: inline-block
}

.selector-box input:focus,
.selector-box select:focus {
    background: rgb(208, 244, 210);
}

label {
    display: inline-block;
    font-size: 30px;

}

.submit-btn {
    margin: auto;
    font-size: 40px;
    display: block;
    border: none;
    color: white;
    background: rgba(86, 102, 122, 0);
    border-radius: 10px;
    transition: background .25s ease-out
}

.submit-btn:hover {
    cursor: pointer;
    background: rgba(115, 129, 147, 0.75);
}

.verse-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw;
    margin: auto;
}

.user-verse {
    font-size: 48px;
    text-align: center;
}

.img-button {
    border: none;
    color: white;
    background: rgba(218, 207, 88, 0);
    border-radius: 10px;
    font-size: 48px;
    display: block;
    margin: auto;
    transition: background .25s linear
}

.img-button:hover {
    cursor: pointer;
    background: rgba(136, 192, 255, 0.75)
}

.back-button {
    border: none;
    color: white;
    background: rgba(218, 207, 88, 0);
    border-radius: 10px;
    font-size: 48px;
    position: relative;
    left: 100px;
    transition: background .25s linear
}

.back-button:hover {
    cursor: pointer;
    background: rgba(235, 144, 147, .75)
}

.editing-grid {
    display: grid;
    grid-template-columns: repeat(9, calc(100/9)vw);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    margin: 0;
    height: 60vh;

}

#img-container {
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 10% auto;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 5;

}

.img-bg {
    width: 400px;
    z-index: -1;
    position: absolute;
}

.img-verse {
    font-size: 3em;
    color: white;
    z-index: 1;
}

.img-grid {
    display: inline-grid;
    grid-column: 8;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40px 40px;
    grid-auto-rows: min-content;
    gap: 5px
}

.img-grid-item {
    height: 40px
}

.img-grid-item:hover {
    cursor: pointer
}

.color-grid {
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: 40px 40px;
    grid-auto-rows: min-content;
    gap: 5px;
    grid-column: 9;
}

.save-button {
    border: none;
    color: white;
    background: rgba(218, 207, 88, 0);
    border-radius: 10px;
    font-size: 48px;
    margin: 0 auto 100px auto;
    display: block;
    transition: background .25s linear;
}

.save-button:hover {
    cursor: pointer;
    background: rgba(127, 194, 155, .75);

}